body{
    background: white;
    background-repeat: no-repeat;
    padding: 30px;
    position: relative;
    height: 100vh;
}

.nav-menu-parent{
    padding: 10px 80px;
}

.nav-menu{
    flex-basis: unset;
    justify-content: flex-end;
}

.nav-link{
    color: rgb(65, 63, 63)!important;
    font-size: 20px;
}

.navbar-nav{
    gap: 80px;
}

.about-content{
    display: flex;
    height: 595px;
    padding: 50px 20px 20px 20px;
}

.about-text{
    color: black;
    gap:20px;
    width: 40%;
    padding-top: 150px;
}

.about-img{
    width: 50%;
    margin: 0 auto;
}

.about-img img{
    height: 415px;
    position: relative;
    z-index: 1;
}

.top-left{
    position: absolute;
    top: 0px;
    left: 0px;
}

.bottom-right{
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 0;
}

.bottom-right img{
    width: 420px;
}

.logo{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    background-color: #ffd22e;
}

.logo img{
    width: 140px;
    height: 100px;
}

.start{
    background-color: #ffd22e;
    border: 0px;
    outline: none;
    width: 200px;
    height: 50px;
    border-radius: 20px;
}

